<div id="viewCenterlogo" class="container_8">
  <div id="centerlogo">
     <i class="icon-leaf"></i><br/>
     <div class="button fb-button"><i class="icon-facebook"></i><p>Log In</p></div>
  </div>
</div>
