<div id="viewCenterlogo" class="container_8 sl-slide page" data-orientation="horizontal" data-slice1-rotation="0" data-slice2-rotation="0">
  <div class="sl-slide-inner">
    <div class="bg-1">
      <div id="centerlogo">
         <i class="icon-leaf"></i><br/>
         <div class="button fb-button"><i class="icon-facebook"></i><p>Log In</p></div>
      </div>
    </div>
  </div>
</div>
