<div id="view" class="sl-slide page"  data-orientation="vertical" data-slice1-rotation="7" data-slice2-rotation="7">
  <div class="sl-slide-inner">
    <div class="bg-2">
      <div id="progress">
        <ol>
          <li class="read chosen"></li>
          <li class="read chosen"></li>
          <li class="chosen"></li>
          <li class="chosen"></li>
          <li></li>
        </ol>
      </div>
      <div id="header">
        <div>
          <div class="tasks">
            <i class="icon-tasks"></i>
          </div>
          <div class="profile">
            <i class="icon-user"></i>
          </div>
          <div class="search search">
            <form action="">
              <input type="search" placeholder="Szukaj">
              <button><i class="icon-search"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div id="main">

      </div>
    </div>
  </div>
</div>
