<ul id='search'>
{{#each poems}}
  <li>
    <div>
      <h3><a href="{{url}}">{{title}}</a></h3>
      <h4>{{author}}</h4>
      <div class="content">
      {{{content}}}
      </div>
    </div>
    <div>

    </div>
  </li>
{{/each}}
</il>
