.font-0{
  font-size: 10px;
  line-height:16px;
}
.font-1{
  font-size: 16px;
  line-height:24px;
}
.font-2{
  font-size: 20px;
  line-height:32px;
}
.font-3{
  font-size: 42px;
  line-height:56px;
}
.font-4{
  font-size: 68px;
  line-height:80px;
}
.font-5{
  font-size: 112px;
  line-height:160px;
}
.font-6{
  font-size: 178px;
  line-height:240px;
}
