<div id="view" class="container_8">
	<div id="header">
		<div class="grid_1">
			<i class="icon-home"></i>
		</div>
		<div class="search grid_5">
			<form action="">
				<input type="search" placeholder="Szukaj">
			</form>
		</div>
		<div class="grid_1">
			<i class="icon-tasks"></i>
		</div>
		<div class="grid_1">
			<i class="icon-user"></i>
		</div>
	</div>
	<div id="main">
		<div id="wrapper">
			<div id="scroller">

			</div>
		</div>
	</div>
</div>
